body {
  background-image: url("./Assets/IMAGES/paw-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

html {
  background-image: url("./Assets/IMAGES/paw-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.navbar {
  background-color: lightskyblue;
}

h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#fav-background {
  background-color: lightskyblue;
}

#favorite-button {
  background-color: #485fc7;
}

.columns {
  gap: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

aside {
  height: 100%;
}

form label,
form select,
form input {
  width: 100%;
}

form input,
form select {
  color: black;
  background-color: lightskyblue;
  height: 3rem;
}

form select option {
  text-align: center;
}

.modal-content {
  scrollbar-width: none;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.pet-pic {
  position: relative;
  width: auto;
  height: auto;
}

.fav-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.fav-btn:hover {
  transform: scale(1.25);
  cursor: pointer;
}

img {
  height: 22rem;
  width: 20rem;
}

