input[type=checkbox] {
    width:20px; 
    height:20px;
}

aside {
    height: 100%;
}

form label,
form select,
form input {
  width: 100%;
}

form input,
form select {
  color: white;
  background-color: gray;
  height: 3rem;
}

form select option {
  text-align: center;
}

.modal-content {
  scrollbar-width: none;
}

.modal-conent::-webkit-scrollbar{
  display: none;
}