input[type=checkbox] {
    width:20px; 
    height:20px;
}

aside {
    height: 100%;
}

form label,
form select,
form input {
  width: 100%;
}

form input,
form select {
  color: white;
  background-color: gray;
  height: 3rem;
}

form select option {
  text-align: center;
}

.modal-content {
  scrollbar-width: none;
}

.modal-content::-webkit-scrollbar{
  display: none;
}

.pet-pic {
  position: relative;
  width: auto;
  height: auto;
}

.fav-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

.fav-btn:hover {
  transform: scale(1.25);
  cursor: pointer;
}

