.is-vcentered {
  align-items: center;
  justify-content: center;
}

.is-horizontal-center {
  justify-content: center;
}

input[type=checkbox] {
  width:20px; 
  height:20px;
}

aside {
  height: 100%;
}
#dog-pic,
#cat-pic,
#random-pic {
  width: 20rem;
  height: 20rem;
}

form label,
form select,
form input {
  width: 100%;
}

form input,
form select {
  color: white;
  background-color: gray;
  height: 3rem;
}

form select option {
  text-align: center;
}
