.is-vcentered {
  align-items: center;
  justify-content: center;
}

.is-horizontal-center {
  justify-content: center;
}

input[type=checkbox] {
  width:20px; 
  height:20px;
}

aside {
  height: 100%;
}